@using System.Data
@model DataTable
@{
    ViewBag.Title = "MapaUniversidades";
    Layout = "~/Views/Shared/PaginaMaestra.cshtml";
}

<style>
    #map_canvas {
    width: 500px;
    height: 400px;
    margin: 2em auto;
}
</style>



<div id="map_canvas" ></div>

    <input id="nombre" value="Bondi Beach"  />
    <input id="lat" value="-33.890542" />
    <input id="long" value="151.274856" />

<input id="nombre" value="Bondi Beach" />
<input id="lat" value="-34.028249" />
<input id="long" value="151.157507" />
<script >

    var hola =
    [$("#nombre").val(),
$("#lat").val(),
$("#long").val()]
    var markers =
      [
    [
    $("#nombre").val(),
    $("#lat").val(),
    $("#long").val()
    ]
    ];

    markers.forEach(function (element) {
        console.log(element);
    });

    function initializeMaps() {
        var myOptions = {
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var infowindow = new google.maps.InfoWindow();
        var marker, i;
        var bounds = new google.maps.LatLngBounds();

        for (i = 0; i < markers.length; i++) {
            var pos = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(pos);
            marker = new google.maps.Marker({
                position: pos,
                map: map
            });
            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infowindow.setContent(markers[i][0]);
                    infowindow.open(map, marker);
                }
            })(marker, i));
        }
        map.fitBounds(bounds);
    }

    initializeMaps();



</script>