@using System.Data
@model DataTable
@{
    ViewBag.Title = "_GaleriaUniversidadUniAdmin";
}
@foreach (DataRow row in Model.Rows)
{
<div class="col-md-55">
    <div class="thumbnail">
        <div class="image view view-first">
            <img style="width: 100%; display: block;" src="~/Picture/GaleriaUniversidad/@row["Foto"]" alt="image" />
            <div class="mask no-caption">
                <div class="tools tools-bottom">
                    <a href="#"><i class="fa fa-link"></i></a>
                    <a href="#"><i class="fa fa-pencil"></i></a>
                    <a href="#"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>
        <div class="caption">
            <p>
                <strong>Image Name</strong>
            </p>
            <p>@row["Descripción"]</p>
        </div>
    </div>
</div>
}

