
@using SchoolCloudMVC.BO
@model BackendBO
@{
    Layout = "~/Views/Shared/MasterPageBE.cshtml";
    ViewBag.Title = "Telefono";
}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3><span class="fa fa-phone"></span> Teléfonos</h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Teléfonos de las escuelas<small>SchoolCloud</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        
                    
                    </div>
                    </div>
            </div>
            </div>
</div>
</div>